In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('train.csv', low_memory=False)
test_df = pd.read_csv('test.csv', low_memory=False)

In [3]:
store_df = pd.read_csv('store.csv')

In [4]:
train_df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [5]:
train_df.shape

(1017209, 9)

1. 1115 unique stores. All stores listed in a test set are listed in a train set. Although train set contains extra stores
2. There are only 1 record per 1 date. (Store, Date) is a unique identifier
3. History of sells contain 941 days (except 1 store). Start date 2013-01-01 (2013-01-02) and end date 2015-07-31
   Based on 941 records of sells it's needed to make predictions for the next 47 days
4. Missing values in test 'Open'. No pattern, fill with previous value

In [6]:
#1.
train_df['Store'].nunique()

1115

In [7]:
test_df['Store'].nunique()

856

In [8]:
set(test_df['Store']) - set(train_df['Store'])

set()

In [9]:
len(set(train_df['Store']) - set(test_df['Store']))

259

In [10]:
#2.
train_df.groupby(['Store', 'Date']).size().apply(lambda x: x>1).any()

False

In [11]:
#3.
train_df['Date'] = pd.to_datetime(train_df['Date'], infer_datetime_format=True)
test_df['Date'] = pd.to_datetime(test_df['Date'], infer_datetime_format=True)

In [12]:
train_df.groupby('Store')['Date'].apply(lambda x: (x.max() - x.min()).days).value_counts()

941    1114
940       1
Name: Date, dtype: int64

In [13]:
train_df.groupby('Store')['Date'].min().value_counts()

2013-01-01    1114
2013-01-02       1
Name: Date, dtype: int64

In [14]:
train_df.groupby('Store')['Date'].max().value_counts()

2015-07-31    1115
Name: Date, dtype: int64

In [15]:
test_df.groupby('Store')['Date'].apply(lambda x: (x.max() - x.min()).days).value_counts()

47    856
Name: Date, dtype: int64

In [16]:
test_df.groupby('Store')['Date'].min().value_counts()

2015-08-01    856
Name: Date, dtype: int64

In [17]:
test_df.groupby('Store')['Date'].max().value_counts()

2015-09-17    856
Name: Date, dtype: int64

In [18]:
train_df = train_df.set_index('Date')
test_df = test_df.set_index('Date')

In [21]:
train_df.sort_index(inplace=True)

In [22]:
test_df.sort_index(inplace=True)

In [23]:
#4.
train_df.isna().sum()

Store            0
DayOfWeek        0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [24]:
test_df.isna().sum()

Id                0
Store             0
DayOfWeek         0
Open             11
Promo             0
StateHoliday      0
SchoolHoliday     0
dtype: int64

In [48]:
# there is not pattern in 'Open' missing values,that's why we can fill it with the previous value
test_df['Open'] = test_df.groupby('Store')['Open'].ffill()

In [59]:
# 5.
short_history_stores = train_df.groupby('Store').size()[train_df.groupby('Store').size().apply(lambda x: x<942)].index.tolist()

In [61]:
train_df[train_df['Store'].isin(short_history_stores)]

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
Date,,,,,,,,
2013-01-01,365,2,0,0,0,0,a,1
2013-01-01,413,2,0,0,0,0,a,1
2013-01-01,412,2,0,0,0,0,a,1
2013-01-01,407,2,0,0,0,0,a,1
2013-01-01,399,2,0,0,0,0,a,1
...,...,...,...,...,...,...,...,...
2015-07-31,712,5,7421,653,1,1,0,0
2015-07-31,750,5,6395,499,1,1,0,0
2015-07-31,736,5,5942,541,1,1,0,0
2015-07-31,739,5,12150,928,1,1,0,0
2015-07-31,744,5,8663,943,1,1,0,0